body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: gray;
    background-image: url('1345056-skull-wallpapers-for-laptops-1920x1080-hd.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
label{
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid white;
    color: gray;
}
button:active{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: bold;
}
.dice{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#roll,#resetdice{
    width: 100%;
}
#p1{
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
    box-shadow: 0 0 5px 0 white;
    border-radius: 10px;
    margin-left: 70px;
    margin-right: 70px;
}
@media (max-width:480px){
    #p1{
        margin-left: 60px;
        margin-right: 60px;
        box-shadow: 0 0 10px 0 white;
    }
}
.checkbox{
    font-size: medium;
    margin-top: 10px;
}
.ch{
    text-align: center;
    margin-left: 50px;
}
.premium{
    width: 100%;
    display: flex;
    padding: 10px;
}
.numberguessinggame{
   margin:20px 0 20px ;
   display: flex;
   align-items: center;
   flex-direction: column;
}
.numberguessinggame h2{
    float :left ;
}
.numberguessinggame>.box{
    font-size: 20px !important;
    text-align: center;
}
.numberguessinggame input{
    background-color: transparent;
    border:none;
    border-bottom: 2px solid gray;
    width: 10%;
    color: gray;
    font-size: 20px;
}
.numberguessinggame input::-webkit-inner-spin-button{
    appearance: none;
}
.numberguessinggame input:focus{
    outline: none;
}
#gbtn{
    width: 60%;
    margin-top: 20px;
}
#rbtn{
    width: 60%;
    margin-top: 10px;
}